<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Auth_WatchGuard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="WatchguardRestApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Auth_WatchGuard.Properties.Settings>
            <setting name="WgUser" serializeAs="String">
                <value />
            </setting>
            <setting name="WgPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WgApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="WgAccId" serializeAs="String">
                <value />
            </setting>
            <setting name="WgRestId" serializeAs="String">
                <value />
            </setting>
            <setting name="WgUrl" serializeAs="String">
                <value />
            </setting>
        </Auth_WatchGuard.Properties.Settings>
        <WatchguardRestApi.Properties.Settings>
            <setting name="WgUser" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WgPassword" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WgApiKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WgAccId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WgRestId" serializeAs="String">
                <value></value>
            </setting>
            <setting name="WgUrl" serializeAs="String">
                <value>https://api.deu.cloud.watchguard.com</value>
            </setting>
            <setting name="debug" serializeAs="String">
                <value>True</value>
            </setting>
        </WatchguardRestApi.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>